In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("datasets/miuul_gezinomi.xlsx")
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low

In [4]:
df["SaleCityName"].unique()

array(['Antalya', 'İzmir', 'Diğer', 'Aydın', 'Muğla', 'Girne'],
      dtype=object)

In [5]:
df["SaleCityName"].value_counts()

SaleCityName
Antalya    31649
Muğla      10662
Aydın      10646
Diğer       3245
İzmir       2507
Girne        455
Name: count, dtype: int64

In [8]:
df["ConceptName"].unique()

array(['Herşey Dahil', 'Yarım Pansiyon', 'Oda + Kahvaltı'], dtype=object)

In [23]:
df.groupby(["ConceptName"]).count()["Price"]

ConceptName
Herşey Dahil      53180
Oda + Kahvaltı     2414
Yarım Pansiyon     3557
Name: Price, dtype: int64

In [24]:
df.shape

(59164, 9)

In [38]:
df.groupby(["SaleCityName"])["Price"].sum()

SaleCityName
Antalya    2.041911e+06
Aydın      5.732960e+05
Diğer      1.545723e+05
Girne      2.706503e+04
Muğla      6.658422e+05
İzmir      1.659348e+05
Name: Price, dtype: float64

In [39]:
df.groupby(["ConceptName"])["Price"].sum()

ConceptName
Herşey Dahil      3.332911e+06
Oda + Kahvaltı    1.213084e+05
Yarım Pansiyon    1.744024e+05
Name: Price, dtype: float64

In [40]:
df.groupby(["SaleCityName"])["Price"].mean()

SaleCityName
Antalya    64.521474
Aydın      53.855896
Diğer      47.707497
Girne      59.483579
Muğla      62.461746
İzmir      66.267905
Name: Price, dtype: float64

In [41]:
df.groupby(["ConceptName"])["Price"].mean()

ConceptName
Herşey Dahil      62.672260
Oda + Kahvaltı    50.252010
Yarım Pansiyon    49.030742
Name: Price, dtype: float64

In [42]:
df.groupby(["ConceptName","SaleCityName"])["Price"].mean()

ConceptName     SaleCityName
Herşey Dahil    Antalya         64.519028
                Aydın           53.995467
                Diğer           84.771093
                Girne           97.680970
                Muğla           63.020053
                İzmir           74.701519
Oda + Kahvaltı  Antalya         63.504816
                Aydın           34.458787
                Diğer           37.599082
                Girne           39.775536
                Muğla           59.037763
                İzmir           41.320342
Yarım Pansiyon  Antalya         67.190613
                Aydın           30.016543
                Diğer           42.113440
                Girne           53.247838
                Muğla           45.120924
                İzmir           59.610053
Name: Price, dtype: float64

In [62]:
bins = [-1, 7, 30, 90, df['SaleCheckInDayDiff'].max()]

In [63]:
df["new_SaleCheckInDayDiff"] = pd.cut(df["SaleCheckInDayDiff"],bins = bins, labels=["Last Minuters", "Potential Planners","Planners", "Early Bookers"])

In [64]:
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons,new_SaleCheckInDayDiff
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low,Last Minuters
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low,Last Minuters
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High,Last Minuters
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low,Last Minuters
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low,Last Minuters

In [68]:
pivot_df = pd.pivot_table(df, values=["Price"], index = ["SaleCityName", "ConceptName", "new_SaleCheckInDayDiff"], aggfunc = ["mean","count"])

In [69]:
pivot_df

                                                         mean  count
                                                        Price  Price
SaleCityName ConceptName    new_SaleCheckInDayDiff
Antalya      Herşey Dahil   Last Minuters           62.752916  14148
                            Potential Planners      64.903700   8874
                            Planners                67.879960   4490
                            Early Bookers           66.494885   3281
             Oda + Kahvaltı Last Minuters           65.353740    503
...                                                       ...    ...
İzmir        Oda + Kahvaltı Early Bookers           66.928111      3
             Yarım Pansiyon Last Minuters           57.788126    636
                            Potential Planners      64.804043    198
                            Planners                60.507887     47
                            Early Bookers           65.905583     14

[72 rows x 2 columns]

In [104]:
agg_df = pd.pivot_table(df, values="Price", 
                        index = ["SaleCityName", "ConceptName", "Seasons"], 
                        aggfunc = "mean").reset_index().sort_values(by= "Price", ascending=False)

In [105]:
agg_df

   SaleCityName     ConceptName Seasons       Price
18        Girne    Herşey Dahil    High  103.935448
19        Girne    Herşey Dahil     Low   90.935944
34        İzmir  Yarım Pansiyon    High   87.657303
13        Diğer    Herşey Dahil     Low   87.310882
12        Diğer    Herşey Dahil    High   83.787273
30        İzmir    Herşey Dahil    High   74.748363
31        İzmir    Herşey Dahil     Low   74.308287
4       Antalya  Yarım Pansiyon    High   73.259029
2       Antalya  Oda + Kahvaltı    High   66.267969
0       Antalya    Herşey Dahil    High   64.920065
24        Muğla    Herşey Dahil    High   63.384036
5       Antalya  Yarım Pansiyon     Low   62.001678
1       Antalya    Herşey Dahil     Low   61.552427
26        Muğla  Oda + Kahvaltı    High   61.264691
3       Antalya  Oda + Kahvaltı     Low   60.666730
22        Girne  Yarım Pansiyon    High   58.383668
35        İzmir  Yarım Pansiyon     Low   55.350626
6         Aydın    Herşey Dahil    High   54.946560
32        İzmir  Oda + Kahvaltı    High   54.141797
23        Girne  Yarım Pansiyon     Low   48.578903
25        Muğla    Herşey Dahil     Low   48.304086
28        Muğla  Yarım Pansiyon    High   45.823698
9         Aydın  Oda + Kahvaltı     Low   44.451874
17        Diğer  Yarım Pansiyon     Low   42.953978
21        Girne  Oda + Kahvaltı     Low   40.043067
15        Diğer  Oda + Kahvaltı     Low   39.959569
16        Diğer  Yarım Pansiyon    High   39.731916
20        Girne  Oda + Kahvaltı    High   39.479630
27        Muğla  Oda + Kahvaltı     Low   37.774192
14        Diğer  Oda + Kahvaltı    High   34.839543
7         Aydın    Herşey Dahil     Low   33.680699
33        İzmir  Oda + Kahvaltı     Low   33.555235
29        Muğla  Yarım Pansiyon     Low   32.681812
10        Aydın  Yarım Pansiyon    High   32.626152
8         Aydın  Oda + Kahvaltı    High   30.387530
11        Aydın  Yarım Pansiyon     Low   25.271799

In [99]:
pivot_df.reset_index()

   SaleCityName     ConceptName new_SaleCheckInDayDiff       mean  count
                                                            Price  Price
0       Antalya    Herşey Dahil          Last Minuters  62.752916  14148
1       Antalya    Herşey Dahil     Potential Planners  64.903700   8874
2       Antalya    Herşey Dahil               Planners  67.879960   4490
3       Antalya    Herşey Dahil          Early Bookers  66.494885   3281
4       Antalya  Oda + Kahvaltı          Last Minuters  65.353740    503
..          ...             ...                    ...        ...    ...
67        İzmir  Oda + Kahvaltı          Early Bookers  66.928111      3
68        İzmir  Yarım Pansiyon          Last Minuters  57.788126    636
69        İzmir  Yarım Pansiyon     Potential Planners  64.804043    198
70        İzmir  Yarım Pansiyon               Planners  60.507887     47
71        İzmir  Yarım Pansiyon          Early Bookers  65.905583     14

[72 rows x 5 columns]

In [112]:
agg_df["sales_level_based"] = (agg_df["SaleCityName"]+"_" + agg_df["ConceptName"]+ "_" +agg_df["Seasons"]).str.upper()

In [113]:
agg_df.head()

   SaleCityName     ConceptName Seasons       Price          sales_level_based
18        Girne    Herşey Dahil    High  103.935448    GIRNE_HERŞEY DAHIL_HIGH
19        Girne    Herşey Dahil     Low   90.935944     GIRNE_HERŞEY DAHIL_LOW
34        İzmir  Yarım Pansiyon    High   87.657303  İZMIR_YARIM PANSIYON_HIGH
13        Diğer    Herşey Dahil     Low   87.310882     DIĞER_HERŞEY DAHIL_LOW
12        Diğer    Herşey Dahil    High   83.787273    DIĞER_HERŞEY DAHIL_HIGH

In [114]:
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons,new_SaleCheckInDayDiff
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low,Last Minuters
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low,Last Minuters
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High,Last Minuters
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low,Last Minuters
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low,Last Minuters

In [115]:
pd.qcut(agg_df["Price"], 4, labels = ["D","C","B","A"])

18    A
19    A
34    A
13    A
12    A
30    A
31    A
4     A
2     A
0     B
24    B
5     B
1     B
26    B
3     B
22    B
35    B
6     B
32    C
23    C
25    C
28    C
9     C
17    C
21    C
15    C
16    C
20    D
27    D
14    D
7     D
33    D
29    D
10    D
8     D
11    D
Name: Price, dtype: category
Categories (4, object): ['D' < 'C' < 'B' < 'A']

In [116]:
agg_df["Segment"] = pd.qcut(agg_df["Price"], 4, labels = ["D","C","B","A"])

In [117]:
agg_df.head()

,SaleCityName,ConceptName,Seasons,Price,sales_level_based,Segment
18,Girne,Herşey Dahil,High,103.935448,GIRNE_HERŞEY DAHIL_HIGH,A
19,Girne,Herşey Dahil,Low,90.935944,GIRNE_HERŞEY DAHIL_LOW,A
34,İzmir,Yarım Pansiyon,High,87.657303,İZMIR_YARIM PANSIYON_HIGH,A
13,Diğer,Herşey Dahil,Low,87.310882,DIĞER_HERŞEY DAHIL_LOW,A
12,Diğer,Herşey Dahil,High,83.787273,DIĞER_HERŞEY DAHIL_HIGH,A

In [119]:
agg_df.groupby("Segment")["Price"].agg(["mean", "max","sum"])

/var/folders/39/15zp5wjs7wq3fwkgthfgz4bc0000gn/T/ipykernel_43589/8069248.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agg_df.groupby("Segment")["Price"].agg(["mean", "max","sum"])

              mean         max         sum
Segment
D        33.366288   39.479630  300.296592
C        44.887654   54.141797  403.988887
B        60.274498   64.920065  542.470478
A        82.467833  103.935448  742.210498

In [123]:
new_user = "ANTALYA_HERŞEY DAHIL_HIGH"

In [124]:
agg_df[agg_df["sales_level_based"] == new_user]

,SaleCityName,ConceptName,Seasons,Price,sales_level_based,Segment
0,Antalya,Herşey Dahil,High,64.920065,ANTALYA_HERŞEY DAHIL_HIGH,B

In [125]:
new_user2 = "GIRNE_YARIM PANSIYON_LOW"

In [127]:
agg_df[agg_df["sales_level_based"] == new_user2][["Segment"]]

   Segment
23       C